.MainView {
  display: flex;
  flex-direction: column;

  .info {
    margin: 10px auto;

    a {
      transition:color .2s ease-out;
      text-decoration: none;
      color: black;
      
      &:hover {
        color: red;
      }
    }
  }

  .filterHolder {
    margin: auto;
  }
}